*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #e8dfdfee;
}


.wrapper{
    max-width: 600px;
    margin: 50px auto;
}
#githubuser{
    width: 70%;
    padding: 10px 5px;
}
#btn{
    width: 20%;
    padding: 10px 5px;
}
img{
    width: 90%;
    margin-top: 5%;
    object-fit: cover;
    border-radius: 15px;
}